<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.system.sysUserRoles.mapper.SysUserRolesMapper">
    <resultMap id="UserRoles" type="com.cuit.system.sysUserRoles.domain.SysUserRoles">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="rid"    column="rid"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="UserRolesDTO" type="com.cuit.system.sysUserRoles.domain.dto.SysUserRolesDTO">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="name"    column="name"    />
        <result property="rid"    column="rid"    />
        <result property="roleName"    column="role_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>


    <sql id="selectUserRoles">
        select id,uid,rid,status,del_flag,create_id,create_time,update_id,update_time from sys_user_roles
    </sql>

    <select id="selectByRId" resultType="com.cuit.system.sysUserRoles.domain.SysUserRoles">
        <include refid="selectUserRoles"></include>
        <where>
            del_flag = '0' and rid = #{id}
        </where>
    </select>


    <select id="selectByUId" resultType="com.cuit.system.sysUserRoles.domain.SysUserRoles">
        <include refid="selectUserRoles"></include>
        <where>
            del_flag = '0' and uid = #{id}
        </where>
    </select>


    <select id="selectSysUserRolesList" resultType="com.cuit.system.sysUserRoles.domain.dto.SysUserRolesDTO">
        SELECT sur.id, sur.uid, u.name, sur.rid, r.role_name, sur.status, sur.del_flag, sur.create_id, sur.create_time, sur.update_id, sur.update_time
        FROM sys_user_roles sur
        LEFT JOIN sys_user u ON u.id = sur.uid
        LEFT JOIN sys_roles r ON r.id = sur.rid
        WHERE sur.del_flag = '0' and u.del_flag = '0' and r.del_flag = '0' and sur.rid in(1,2) and u.id !=#{uid}
        <if test="roleName != null and roleName != ''">
            AND r.role_name LIKE CONCAT('%', #{roleName}, '%')
        </if>
        <if test="name != null and name != ''">
            AND u.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        order by u.create_time desc
    </select>

    <select id="selectSysUserRolesAllList" resultType="com.cuit.system.sysUserRoles.domain.dto.SysUserRolesDTO">
        SELECT sur.id, sur.uid, u.name, sur.rid, r.role_name, sur.status, sur.del_flag, sur.create_id, sur.create_time, sur.update_id, sur.update_time
        FROM sys_user_roles sur
        LEFT JOIN sys_user u ON u.id = sur.uid
        LEFT JOIN sys_roles r ON r.id = sur.rid
        WHERE sur.del_flag = '0' and u.del_flag = '0' and r.del_flag = '0' and u.id !=#{uid} and u.status = '2'
        <if test="roleName != null and roleName != ''">
            AND r.role_name LIKE CONCAT('%', #{roleName}, '%')
        </if>
        <if test="name != null and name != ''">
            AND u.name LIKE CONCAT('%', #{name}, '%')
        </if>
        order by u.create_time desc
    </select>




    <select id="selectUid" resultType="java.lang.Long">
        select id from sys_user where `name` like concat('%', #{name}, '%')
    </select>

    <select id="selectRid" resultType="java.lang.Long">
        select  id from sys_roles where role_name like concat('%', #{roleName}, '%')
    </select>

    <select id="selectRoleNameByUid" resultType="java.lang.String">
        select role_name from sys_roles where id in
            (
                select rid from sys_user_roles
                where uid = #{id}
            )
    </select>

    <select id="selectUserInfor" resultType="java.lang.String">
        SELECT r.role_name
        FROM sys_user_roles sur
        LEFT JOIN sys_user u ON u.id = sur.uid
        LEFT JOIN sys_roles r ON r.id = sur.rid
        WHERE sur.del_flag = '0' and u.del_flag = '0' and r.del_flag = '0'  and sur.uid = #{id}
    </select>

</mapper>
