<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.business.exhibitionHall.mapper.ExhibitionHallMapper">

    <resultMap id="ExhibitionDTO" type="com.cuit.business.exhibitionHall.domain.dto.ExhibitionHallDTO">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="picUrl"   column="pic_url" />
        <result property="name"   column="name" />
        <result property="manageName" column="manage_name"/>
        <result property="address"   column="address" />
        <result property="longitude"   column="longitude" />
        <result property="latitude"   column="latitude" />
        <result property="capacityNumber" column="capacity_number"/>
        <result property="num" column="num"/>
        <result property="openingTime"   column="opening_time" />
        <result property="closingTime"   column="closing_time" />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="ExhibitionHallList">
        select e.id,e.uid,e.pic_url,e.name,e.longitude,e.latitude,u.name as manage_name,(select count(*) from reservation r
                                                                                           WHERE CURRENT_TIMESTAMP BETWEEN r.start_time AND r.end_time ) as num,
               e.address,e.capacity_number,e.opening_time,e.closing_time,e.status,e.del_flag,e.create_time
    </sql>



    <select id="selectUid" resultType="java.lang.Long">
        select uid from exhibition_hall where `name` like concat('%', #{name}, '%')
    </select>

    <select id="selectExhibitionList" resultMap="ExhibitionDTO">
        <include refid="ExhibitionHallList"/>
            from exhibition_hall e
            left join sys_user u on u.id = e.uid
        <where>
            e.del_flag = '0' and u.del_flag = '0'
            <if test="manageName != null and manageName != ''"> and u.name like concat('%', #{manageName}, '%')</if>
            <if test="name != null  and name != ''"> and e.name like concat('%', #{name}, '%')</if>
            <if test="openingTime != null and closingTime == null">
                and e.opening_time &lt;= CAST(#{openingTime} AS TIME)
            </if>
            <if test="closingTime != null and openingTime == null">
                and e.closing_time &gt;= CAST(#{closingTime} AS TIME)
            </if>
            <if test="status != null and status != ''"> and e.status = #{status}</if>
        </where>
        order by e.create_time desc
    </select>

    <select id="selectEhibitionMg" resultType="com.cuit.system.sysUserRoles.domain.dto.SysUserRolesDTO">
        SELECT sur.id, sur.uid, u.name, sur.rid, r.role_name, sur.status, sur.del_flag, sur.create_id, sur.create_time, sur.update_id, sur.update_time
        FROM sys_user_roles sur
        LEFT JOIN sys_user u ON u.id = sur.uid
        LEFT JOIN sys_roles r ON r.id = sur.rid
        WHERE sur.del_flag = '0' and u.del_flag = '0' and r.del_flag = '0' and sur.rid = #{rid} and u.id !=#{uid}
        <if test="name != null and name != ''">
            AND u.name LIKE CONCAT('%', #{name}, '%')
        </if>
        order by u.create_time desc
    </select>

    <select id="selectListByTime" resultType="com.cuit.business.exhibitionHall.domain.ExhibitionHall">
        <include refid="ExhibitionHallList"/>
        FROM exhibition_hall e
        left join sys_user u on u.id = e.uid
        WHERE e.del_flag = '0' and e.status = '0' and e.id not in(
            SELECT r.hid
            FROM reservation r
            WHERE ((r.start_time &lt;= #{searchTimeS} AND r.end_time &gt;= #{searchTimeS})
            OR (r.start_time &lt;= #{searchTimeE} AND r.end_time &gt;= #{searchTimeE})
            OR (r.start_time &gt;= #{searchTimeS} AND r.end_time &lt;= #{searchTimeE})
            ) AND r.del_flag = '0'
        )
        ORDER BY e.create_time DESC
    </select>

    <select id="selectListByPage" resultType="com.cuit.business.exhibitionHall.domain.dto.ExhibitionHallDTO">
        select e.id,e.uid,e.pic_url,e.name,e.longitude,e.latitude,u.name as manage_name,(select count(*) from reservation r
        WHERE r.hid = e.id and CURRENT_TIMESTAMP BETWEEN r.start_time AND r.end_time ) as num,
        e.address,e.capacity_number,e.opening_time,e.closing_time,e.status,e.del_flag,e.create_time
        from exhibition_hall e
        left join sys_user u on u.id = e.uid
        <where>
            e.del_flag = '0' and u.del_flag = '0'
            and e.status = '0' and u.status = '0'
            <if test="manageName != null and manageName != ''"> and u.name like concat('%', #{manageName}, '%')</if>
            <if test="name != null  and name != ''"> and e.name like concat('%', #{name}, '%')</if>
            <if test="address != null and address != ''"> and e.address like concat('%', #{address}, '%')</if>
            <if test="openingTime != null and closingTime == null">
                and e.opening_time &lt;= CAST(#{openingTime} AS TIME)
            </if>
            <if test="closingTime != null and openingTime == null">
                and e.closing_time &gt;= CAST(#{closingTime} AS TIME)
            </if>
            <if test="openingTime != null and closingTime != null">
                and e.opening_time &lt;= CAST(#{openingTime} AS TIME)
                and e.closing_time &gt;= CAST(#{closingTime} AS TIME)
            </if>
        </where>
        order by e.create_time desc
    </select>

    <select id="selectExhibitionHallById"
            resultType="com.cuit.business.exhibitionHall.domain.dto.ExhibitionHallDTO">
        select e.id,e.uid,e.pic_url,e.name,e.longitude,e.latitude,
               u.name as manage_name,u.phone,(select count(*) from reservation r
                WHERE CURRENT_TIMESTAMP BETWEEN r.start_time AND r.end_time ) as num,
               e.address,e.capacity_number,e.opening_time,e.closing_time,e.status,e.del_flag,e.create_time
        from exhibition_hall e
        left join sys_user u on u.id = e.uid
        where e.del_flag = '0' and u.del_flag = '0'
        and e.status = '0' and u.status = '0'
        and e.id = #{id}
    </select>

    <select id="selectExhibitionHallByCreateId"
            resultType="com.cuit.business.exhibitionHall.domain.dto.ExhibitionHallDTO">
        <include refid="ExhibitionHallList"/>
        from exhibition_hall e
        left join sys_user u on u.id = e.uid
        <where>
            e.del_flag = '0' and u.del_flag = '0' and u.status = '0' and e.create_id = #{uid}
            <if test="exhibitionHallDTO.manageName != null and exhibitionHallDTO.manageName != ''"> and u.name like concat('%', #{exhibitionHallDTO.manageName}, '%')</if>
            <if test="exhibitionHallDTO.name != null  and exhibitionHallDTO.name != ''"> and e.name like concat('%', #{exhibitionHallDTO.name}, '%')</if>
            <if test="exhibitionHallDTO.openingTime != null and exhibitionHallDTO.closingTime == null">
                and e.opening_time &lt;= CAST(#{exhibitionHallDTO.openingTime} AS TIME)
            </if>
            <if test="exhibitionHallDTO.closingTime != null and exhibitionHallDTO.openingTime == null">
                and e.closing_time &gt;= CAST(#{exhibitionHallDTO.closingTime} AS TIME)
            </if>
            <if test="exhibitionHallDTO.openingTime != null and exhibitionHallDTO.closingTime != null">
                and e.opening_time &lt;= CAST(#{exhibitionHallDTO.openingTime} AS TIME)
                and e.closing_time &gt;= CAST(#{exhibitionHallDTO.closingTime} AS TIME)
            </if>
        </where>
        order by e.create_time desc
    </select>

    <select id="selectHidByUid" resultType="java.lang.Long">
        select id from exhibition_hall where uid = #{uid}
    </select>


</mapper>
