<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.business.exhibitionExhibitor.mapper.ExhibitionExhibitorMapper">

    <resultMap id="ExhibitionExhibitorMap" type="com.cuit.business.exhibitionExhibitor.domain.ExhibitionExhibitor">
        <result property="id" column="id"/>
        <result property="eid"    column="eid"    />
        <result property="etorid"    column="etorid"    />
        <result property="hid"    column="hid"    />
        <result property="delFlag" column="del_flag"/>
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectById">
        select id,hid,eid,etorid,del_flag,create_time,update_time
        from exhibition_exhibitor
    </sql>

    <select id="selectBySId" resultType="com.cuit.business.exhibitionExhibitor.domain.ExhibitionExhibitor">
        <include refid="selectById"/>
        <where>
            del_flag = '0'
            <if test="hid!= null and hid!= ''"> and hid = #{hid}</if>
            <if test="eid!= null and eid!= ''"> and eid = #{eid}</if>
            <if test="etorid!= null and etorid!= ''"> and etorid = #{etorid}</if>
        </where>
    </select>

    <select id="getByEid" resultType="com.cuit.business.exhibitionExhibitor.domain.ExhibitionExhibitor">
        select * from exhibition_exhibitor where etorid = #{etorid}
    </select>

</mapper>
